body
  box-sizing: border-box

img
  margin: 0

.post
  display: flex

  .meta
    display: flex
    align-items: flex-start

    .image
      display: flex
      align-items: flex-start

      img
        width: 60px