body
  box-sizing: border-box

img
  margin: 0

.post
  display: flex

  h3
    a
      color: #333

  .meta
    display: flex
    align-items: flex-start

    .image
      display: flex
      align-items: flex-start

      img
        width: 60px

  .post-image
    img
      width: 60px

#playerBox
  display: none
  position: fixed
  width: 100%
  left: 0
  bottom: 0

  #currentTrack
    padding: 0 1em

  #player
    width: 100%

.pagination
  margin-bottom: 80px

.matter
  .title
    .subtitle
      color: grey

.post
  .image, .post-image
    position: relative
    background-image: url(/play.svg)
    background-repeat: no-repeat

    .play
      position: absolute
      top: 0
      left: 0
      width: 60px
      height: 60px
      margin-right: 8px
      background-image: url(/play.svg)
      background-repeat: no-repeat
      background-size: 48px 48px
      background-position: center

    .playing
      background-image: url(/playing.svg)
